@using Capstone.Web.Models
@model ItineraryModel
@{
    ViewBag.Title = "CreateItinerary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Create Itinerary</h2>

<form action="@Url.Action("CreateItinerary", "Home")" method="post">
    <div>
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
    </div>
    @*<div>
        @Html.HiddenFor(m => m.UserId)
    </div>*@
    <div>
        @Html.LabelFor(m => m.StartLocationLat)
        @Html.DropDownList("id", ViewBag.Places as List<SelectListItem>, "Starting Location")
    </div>
    <div>
        @Html.LabelFor(m => m.Date)
        @Html.TextBoxFor(m => m.Date)
    </div>
    <button>Create Itinerary</button>
</form>

