@using Capstone.Web.Models
@model List<ItineraryPlacesModel>

@{
    ViewBag.Title = "UserDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<int> order = new List<int>();

}

<script src="https://cdn.rawgit.com/vast-engineering/jquery-popup-overlay/1.7.13/jquery.popupoverlay.js"></script>
<script type="text/javascript">
    window.onload = function () {
        loadMap();
    }
</script>

<div class="wholePage">
    <div class="dashboard-hero jumbotron">
        <div class="container text-center">
            <h1 class="h1 text-uppercase hero-text-drop-shadow">User Dashboard</h1>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2 class="detailHeader">Your Itineraries</h2>
                <button class="my_popup_open btn-lg">Create New Itinerary</button>
            </div>
            <div id="my_popup">
                @Html.Action("CreateItinPartial", "Home")
            </div>
            <div class="wholePage">
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 accordion">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <h3 class="itinName">@Model[i].Itinerary.Name</h3>
                        <div>
                            <form action="@Url.Action("DeleteItinerary", "Home", new { itineraryId = Model[i].Itinerary.Id })" method="post">
                                <button class="btn-sm">Delete Itinerary</button>
                                <input class="btn-sm" type="submit" name="save" value="Save Itinerary" formaction="@Url.Action("EditUserItinerary", "Home", new { itineraryId = Model[i].Itinerary.Id })" formmethod="post" />
                                <input id="goToRoute" class="btn-sm" type="submit" name="route" value="See Travel Route" formaction="@Url.Action("CreateTravelRoute", "Home", new { itineraryId = Model[i].Itinerary.Id })" formmethod="post" />
                                <div id="sortable" class="row itin-container sortableItems">
                                    @{ var counter = 0; }
                                    @{ var counter2 = 1;}
                                    @foreach (var t in Model[i].Places)
                                    {
                                        <div class="sortingPanels">
                                            <input type="hidden" name="placeIds[@counter]" value="@t.Id" />
                                            <h2>Stop @counter2</h2>
                                            <h4>@t.PlaceName</h4>
                                            <p>@t.StreetAddress @t.City , @t.State @t.Zip</p>
                                            <p>@t.Detail</p>
                                            <form action="@Url.Action("DeletePlaceFromItinerary", "Home", new { placeId = t.Id, itineraryId = Model[i].Itinerary.Id })" method="post">
                                                <input type="submit" name="remove" value="Remove from Itinerary" formaction="@Url.Action("DeletePlaceFromItinerary", "Home", new { placeId = t.Id, itineraryId = Model[i].Itinerary.Id })" formmethod="post" />
                                            </form>
                                            <hr />
                                        </div>
                                        counter++;
                                        counter2++;
                                    }
                                </div>
                            </form>
                        </div>
                }
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <div id="dvMap" style="width: 100%; height: 500px">
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<br />


