@using Capstone.Web.Models
@model List<ItineraryPlacesModel>

@{
    ViewBag.Title = "UserDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>UserDashboard</h2>

@for (int i = 0; i < Model.Count; i++)
{  <div>
        @foreach(var t in Model[i].Places)
        {
        <div>
            <p>@t.PlaceName</p>
            <p>@t.StreetAddress @t.City , @t.State @t.Zip</p>
            <p>@t.Detail</p>
            <img src="@Url.Content("~/Content/" + t.PlaceName + ".jpg")"/>
            <p>@t.PlaceName</p>
            <p>@t.PlaceName</p>

        </div>
        }
    </div>
}