@using Capstone.Web.Models;
@model List<ItineraryPlacesModel>

@if (Model.Count > 0)
{
    <h3 class="text-center">Itinerary for @Model[0].Itinerary.Name</h3>

    foreach (var m in Model[0].Places)
    {
        <div class="col-sm-4">
            <div class="row itin-item">
                <div class="col-xs-12 col-sm-5">
                    <img class="img-responsive" src="@Url.Content("~/Content/places-pics/" + m.PlaceName + ".jpg")" />

                </div>
                <div class="col-xs-12 col-sm-7">
                    <ul class="list-unstyled">
                        <li><h4>@m.PlaceName</h4></li>
                        <li><p>@m.StreetAddress<br />@m.City, @m.State @m.Zip</p></li>
                    </ul>
                </div>
            </div>
        </div>

    }
}
else {
    <h2>You have not created an itinerary yet, Would you like to create one now?</h2>
    <button class="btn btn-default btn-lg"><a href="@Url.Action("CreateItinerary", "Home")">Create Itinerary</a></button>
}
