@using Capstone.Web.Models;
@model List<PlacesModel>


@{
    ViewBag.Title = "Shopping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="shopping-hero jumbotron">
    <div class="container text-center">
        <h1 class="h1 text-uppercase hero-text-drop-shadow">Shopping</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            @{foreach (var p in Model)
                {
                    if (p.Category == "Shopping")
                    {
                        <div class="col-xs-12 desc-bump">
                            <div class="col-md-4">
                                <img class="img-responsive" src="@Url.Content("~/Content/places-pics/" + p.PlaceName + ".jpg")" />
                            </div>
                            <div class="col-md-8 landmark-detail">
                                <h3>@p.PlaceName</h3>
                                <h4>@p.Detail</h4>
                                <p>@p.StreetAddress<br />@p.City, @p.State, @p.Zip</p>
                                @if (Session["user"] != null)
                                {
                                    <form action="@Url.Action("SavePlaceToItineraryFromList", "Home", new { placeId = p.Id})" method="post">
                                        <button>Save to Itinerary</button>
                                    </form>
                                }
                            </div>
                            <hr />
                        </div>
                        @*<div class="clearfix"></div>*@
                    }
                }
            }
        </div>
    </div>
</div>
<div class="container">
    <div class="row itin-container">
        @if (Session["user"] != null)
        {
            @*<div class="container">*@
        Html.Action("ItinPartial");
            @*</div>*@
        }
    </div>

</div>
